.carousel-container {
    position: relative;
    background-color: red;
    border: 10px solid blue;
    height: 300px;
    width: 400px;
    padding: 2em;
 overflow:hidden;
   

}
.carousel-track{
    display:grid;
    grid-template-columns: 100% 100% 100%;
    background-color:purple;
    border: 1px solid yellow;
    height: 100%;
    width: 100%;
    list-style-type: none;
}

.carousel-slide{
    background-color:aqua;
    border: 1px solid green;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size:3em;
}

.invisible-dragcontainer{
    border: 10px solid orange;

}


