.carousel-nav{
    margin: 0 auto;
}

.carousel-indicator{
    padding: 5px 15px;
    background-color:transparent;
    background-color: #cececea8;
    font-size: 4em;
    border: none;

    &:Hover{
        cursor: pointer;
    }
}

.carousel-indicator.current-slide{
    background-color: white;
}